<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652363759428-ihroi8lf1pp1410j76inhe0s96hpmrrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652363759428-ihroi8lf1pp1410j76inhe0s96hpmrrn</string>
	<key>API_KEY</key>
	<string>AIzaSyAc7_QdhjPeEuFAPxQM6G6QqEE_3vC00tU</string>
	<key>GCM_SENDER_ID</key>
	<string>652363759428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonisso.WorkinOut</string>
	<key>PROJECT_ID</key>
	<string>workinout-a6bdd</string>
	<key>STORAGE_BUCKET</key>
	<string>workinout-a6bdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652363759428:ios:b770f8281a23fc5aaba111</string>
</dict>
</plist>